body,html{
  margin: 0;
  padding: 0;
}
*{
font-family: 'Indie Flower', cursive;
}

.clear{
  clear:both;
}


#body-box{
  padding-top: 60px;
  height: 85vh;
  background:rgb(247, 250, 255);

}
img{
  max-width: 60vh;
  max-height: 32vh;

}
#body-box p{
  font-size: 1.4em;
  text-align: center;
  margin: 50px;
  

}
